.vector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 50px;
  margin: 0.5%;
  font-size: large;
}
button:focus {
  outline: none;
  box-shadow: none;
}

.w3-button {
  width: 150px;
}

.w3-black {
  color: #fff !important;
  background-color: #000 !important;
}

